/ExtremeAutomation/Robot/Reports
/ExtremeAutomation/Tests
/dist
/ExtremeAutomation.egg-info
/ExtremeAutomation-*
/ExtremeAutomation/Users
.idea
_build
_templates
docfiles
**/*.pyc
*.pyc
*.iml
cloud-connect-application-log.log
robot_atg_log
*~*
MANIFEST
launch.json
settings.json
/build
.env
.venv
venv
/libspecs/
*.libspecs
**.pytest_cache**
/PytestPlugins
**report.html**
**log.html**
**output.xml**
**allure_output**

tools/docs/build**
tools/docs/source/_static
tools/docs/source/_templates
tools/docs/source/docs**
docs/
