# This is a comment.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, and
# will be requested for review when someone opens a pull request.
#
*   @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @jeffrwsd @petersadej @mgoddard27 @apepelis-extremenetwork @kjvsatishbabu @sgodbole408
/extauto/xiq/           @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @jeffrwsd @petersadej @damccarth @shreenbanu @pdungdo @rvellasamy @mgoddard27 @apepelis-extremenetwork @kjvsatishbabu @sgodbole408
/extauto/xca/           @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @jeffrwsd @petersadej @damccarth @mgoddard27 @apepelis-extremenetwork @kjvsatishbabu @sgodbole408
/extauto/common/        @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @jeffrwsd @petersadej @damccarth @shreenbanu @pdungdo @rvellasamy @mgoddard27 @apepelis-extremenetwork @kjvsatishbabu @sgodbole408
/extauto/xiqse/         @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @jeffrwsd @petersadej @damccarth @mgoddard27 @apepelis-extremenetwork @kjvsatishbabu @sgodbole408

# Michael White wants to review all items in the following directory
/extauto/ucp/ @mike-white-extr @jeffrwsd @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @jeffrwsd @petersadej @damccarth @shreenbanu @pdungdo @rvellasamy @mgoddard27 @apepelis-extremenetwork @kjvsatishbabu @sgodbole408
