# This is a comment.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, and
# will be requested for review when someone opens a pull request.
#
*   @extremenetworks/autoiq-framework @jsubler93 
/extauto/xiq/           @extremenetworks/autoiq-framework @jsubler93 @damccarth @shreenbanu @pdungdo @rvellasamy 
/extauto/xca/           @extremenetworks/autoiq-framework @jsubler93 @damccarth 
/extauto/common/        @extremenetworks/autoiq-framework @jsubler93 @damccarth @shreenbanu @pdungdo @rvellasamy 
/extauto/xiqse/         @extremenetworks/autoiq-framework @jsubler93 @damccarth 

# Michael White wants to review all items in the following directory
/extauto/ucp/ @mike-white-extr @extremenetworks/autoiq-framework
