# This is a comment.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, and
# will be requested for review when someone opens a pull request.
#
*   @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @jeffrwsd
/extauto/xiq/           @rvellasamy @priyatham111 @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd
/extauto/xca/           @rvellasamy @priyatham111 @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd
/extauto/common/        @rvellasamy @priyatham111 @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd
/extauto/xiqse/         @rvellasamy @priyatham111 @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd

# Michael White wants to review all items in the following directory
/extauto/ucp/ @mike-white-extr @jeffrwsd
