# ------------------   From Wireless  ----------------------
Flask==1.1.1
image==1.5.28
netmiko==3.0.0
paramiko==2.9.2
pexpect==4.8.0
robotframework==4.1.1
robotframework-pabot==2.1.0
sauceclient==1.0.0
selenium==3.141.0
typing-extensions==4.1.1
# ----------------- From Wireless End ---------------------
urllib3==1.23
pyvmomi==6.7.1
flask-cors==3.0.7
pycryptodome==3.10.1
pyyaml==6.0
mock==2.0.0
requests==2.19.1
pysnmp==4.4.6
pyserial==3.4
xmlrunner==1.7.7
PyMySQL==1.0.2
wheel==0.36.2
ansi2html==1.8.0
extremecloudiq-api==23.2.0.30
docstring-parser==0.15
opencv-python
beautifulsoup4
robotframework-dependencylibrary==4.0.1
# ----------------- Other ---------------------
flake8