/extauto/xiq/**           @rgeesala @rvellasamy priyatham111
/extauto/xca/**           @rgeesala @rvellasamy priyatham111
/extauto/common/**        @akaheidia @rgeesala @rvellasamy priyatham111
/extauto/xiqse/**         @akaheidia @rgeesala @rvellasamy priyatham111


# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.py    @rgeesala

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.

#*.py rgeesala@extremenetworks.com, hwhite@extremenetworks.com
#*.robot rgeesala@extremenetworks.com, hwhite@extremenetworks.com
#*.csv rgeesala@extremenetworks.com, hwhite@extremenetworks.com
